@import "reset";
@import "variable";

//components
@import "components/ide";
@import "components/palette";
@import "components/tree";
@import "components/edit";
@import "components/CssClassEditor";
@import "components/project";
@import "components/top";
@import "components/contextMenu";
@import "components/modal";
@import "components/renderer";

//no bounce scroll
html {
  height: 100%;
  overflow: hidden;
  user-select: none;
}
body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

//---

body {
  background: #444;
  color: #eee;
}