.c-edit {
  &__tab-area {
    display: flex;
    &__item {
      display: block;
      flex: 1;
      border: outset;
      position: relative;
      text-align: center;
      &--selected:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 255, .5);

      }
    }
  }
}



