@mixin ide-child {
  border: solid;
  height: 100%;
  box-sizing: border-box;
}
.c-IDE {
  &__body {
    height: calc(100vh - 5rem);
    display: flex;
    &__tree-area {
      @include ide-child;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    &__display-area {
      @include ide-child;
      flex: 2;
    }
    &__edit-area {
      @include ide-child;
      flex: 1;
    }
  }
  &__under {
    height: 5rem;
  }
}

